<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 m-auto">
            <div class="card mb-3">
                <div class="row g-0 h-100">
                    <div class="col-md-5">
                        <div class="card-body text-center">
                            <h5 class="card-title">Útvonal és költségkalkulátor</h5>
                            <div class="row d-flex justify-content-around mt-4 m-auto">
                                <div class="col-md-8">
                                    <input [(ngModel)]="origin" type="email" class="form-control"
                                        id="exampleInputEmail1" value="{{ origin }}" aria-describedby="emailHelp"
                                        placeholder="Indulás helye...">
                                </div>
                                <div class="col-md-4">
                                    <button #clickedButton (click)="initMap()" class="btn btn-success"
                                        type="button">Számol</button>
                                </div>
                            </div>
                            <img src="https://c.tenor.com/Qj-ntiXKOjcAAAAC/bts-travel.gif"
                                class="img-fluid rounded mt-4" alt="..." style="width: 100%;">
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div #map class=" rounded-end" id="map"></div>
                        <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>