<div class="card">
  <p-table #dt2 [value]="(items$ | async)!" styleClass="p-datatable-striped" dataKey="id" [rows]="10"
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" [paginator]="true"
    currentPageReportTemplate="{first}-{last}/{totalRecords}"
    [globalFilterFields]="['name','drawingNumber','customerDrawingNumber', 'storage', 'storagePlace']"
    [autoLayout]="true" scrollHeight="calc(100vh - 210px)">
    <ng-template pTemplate="caption">
      <div class="flex">
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt2.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Kulcsszó..." />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Megnevezés</th>
        <th>Saját rajzszám</th>
        <th>Vevői rajzssám</th>
        <th>Raktár</th>
        <th class="tight-column">Polc</th>
        <th class="tight-column">Doboz</th>
        <th class="tight-column">Darabszám</th>
        <th *ngIf="userDataObject" class="actions-column"></th>
      </tr>
      <tr>
        <th>
          <p-columnFilter type="text" field="name" matchMode="contains" [showMenu]="false"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="drawingNumber" matchMode="contains" [showMenu]="false"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="customerDrawingNumber" matchMode="contains" [showMenu]="false">
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter field="storage.storageName" matchMode="equals" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="storages" (onChange)="filter($event.value)" placeholder="Válassz"
                [showClear]="true">
                <ng-template let-option pTemplate="item">
                  <span [class]="'customer-badge status-' + option.label">
                    {{ option.value }}
                  </span>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th class="tight-column"></th>
        <th class="tight-column"></th>
        <th class="tight-column"></th>
        <th *ngIf="userDataObject" class="actions-column"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr *ngIf="!loading" [pSelectableRow]="true" (click)="sendData(item)" (dblclick)="updateItem(item._id)">
        <td>
          {{item.name}}
        </td>
        <td>
          <span>{{item.drawingNumber}}</span>
        </td>
        <td>
          <span>{{item.customerDrawingNumber}}</span>
        </td>
        <td>
          <span>{{item.storage.storageName}}</span>
        </td>
        <td class="tight-column">
          <span>{{item.storage.shelf}}</span>
        </td>
        <td class="tight-column">
          <span>{{item.storage.box}}</span>
        </td>
        <td class="tight-column">
          <span>{{ item.quantity }}</span>
        </td>
        <td  *ngIf="userDataObject" class="actions-column">
          <div>
            <i (click)="increaseItemQuantitiy()" class="pi pi-plus-circle fs-3 px-1 text-success"></i>
            <i (click)="decreaseItemQuantitiy()" class="pi pi-minus-circle fs-3 px-1 text-danger"></i>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr *ngIf="items$ | async">
        <td colspan="8">A keresett cikk nem található</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [header]="typeOfChange" [(visible)]="modalVisibility" [modal]="true" [closable]="false" [breakpoints]="{'1200px': '60vw', '992px': '75vw', '768px': '95vw'}"
  [style]="{width: '50vw'}">
  <p-table [value]="[{}]" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>Megnevezés</th>
        <th>Rajzszám</th>
        <th>Készleten</th>
        <th>{{ typeOfChange }} mennyisége</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body">
      <tr>
        <td>{{selectedItem?.name}}</td>
        <td>{{selectedItem?.drawingNumber}}</td>
        <td>{{selectedItem?.quantity}}</td>
        <td>
          <input [(ngModel)]="quantityOfChange" type="number" pInputText placeholder="Darabszám..." min="0">
        </td>
      </tr>
    </ng-template>
  </p-table>
  <ng-template pTemplate="footer">
    <p-button (click)="changeItemQuantity()" icon="pi pi-check" [label]="typeOfChange" styleClass="p-button-text"></p-button>
    <p-button (click)="modalVisibility = false; quantityOfChange = 0" icon="pi pi-times" label="Mégsem" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
