<footer class="pb-5">
    <div class="row col-md-10 col-xl-9 col-xxl-8 pt-4 m-auto text-white">
        <div class="col-12 col-md-6 mb-3">
            <h5>Súgó</h5>
            <span class="d-block">Kapcsolat</span>
            <span class="d-block">Értékelések</span>
            <span class="d-block">FAQ</span>
        </div>

        <div class="col-12 col-md-6 mb-3">
            <h5>Cím</h5>
            <span class="d-block">489 Wellington</span>
            <span class="d-block">Bronx, NY 10457</span>
            <span class="d-block">United States</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-xl-9 col-xxl-8 m-auto">
            <hr class="bg-light mx-2">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-center">
                <a class="text-white p-3" href=""><i class="fab fa-bootstrap fa-2x"></i></a>
                <a class="text-white p-3" href=""><i class="fab fa-github fa-2x"></i></a>
                <a class="text-white p-3" href=""><i class="fab fa-twitter fa-2x"></i></a>
                <a class="text-white p-3" href=""><i class="fab fa-facebook-square fa-2x"></i></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col text-white">
            <div class="d-flex justify-content-center fst-italic">
                <span class>Copyright</span>
                <i class="far fa-copyright fa-xs p-2"></i>
                <span>LastMinute 2022</span>
            </div>
        </div>
    </div>
</footer>
