<footer class="container-fluid pb-5 mt-3">
    <div class="row col-md-9 pt-4 m-auto text-white">
        <div class="col-12 col-md-6 mb-3">
            <h5>Névjegy</h5>
            <span class="d-block">Impresszum</span>
            <span class="d-block">Rólunk</span>
            <span class="d-block">Felhasználási feltételek</span>
            <span class="d-block">Visszajelzés</span>
        </div>

        <div class="col-12 col-md-6 mb-3">
            <h5>Elérhetőségeink</h5>
            <span class="d-block">2134 Budapest</span>
            <span class="d-block">Mátyás király tér 2.</span>
            <span class="d-block">info@lastminuteco.hu</span>
            <span class="d-block">+3670 555 1245</span>
        
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 m-auto">
                <hr class="bg-light mx-2">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <a class="text-white p-3" href=""><i class="fab fa-bootstrap fa-2x"></i></a>
                    <a class="text-white p-3" href=""><i class="fab fa-github fa-2x"></i></a>
                    <a class="text-white p-3" href=""><i class="fab fa-twitter fa-2x"></i></a>
                    <a class="text-white p-3" href=""><i class="fab fa-facebook-square fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col text-white">
            <div class="d-flex justify-content-center fst-italic">
                <span class>Copyright</span>
                <i class="far fa-copyright fa-xs p-2"></i>
                <span>Last Minute Company 2022</span>
            </div>
        </div>
    </div>
</footer>