<main class="card h-100 mb-2">
  <div class="container mt-4 py-3">
    <div class="row">
      <div class="col-md-4 m-auto">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col">
              <div class="mb-2">
                <label for="lastName" class="form-label">Vezetéknév</label>
                <input type="text" class="form-control" id="lastName" formControlName="lastName">
                <!-- <small>{{lastName?.dirty}}</small>
                <small>{{lastName?.invalid}}</small> -->
                <small *ngIf="lastName?.dirty && lastName?.invalid || isSubmitted && lastName?.invalid" class="text-danger">Vezetéknév megadása kötelező!</small>
              </div>
            </div>
            <div class="col">
              <div class="mb-2">
                <label for="firstName" class="form-label">Keresztnév</label>
                <input type="text" class="form-control" id="firstName" formControlName="firstName">
                <small *ngIf="firstName?.dirty && firstName?.invalid || isSubmitted && firstName?.invalid" class="text-danger">Keresztnév megadása kötelező!</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mb-2">
                <label for="username" class="form-label">Felhasználónév</label>
                <input type="text" class="form-control" id="username" formControlName="username">
                <small *ngIf="username?.dirty && username?.invalid || isSubmitted && username?.invalid" class="text-danger">Vezetéknév megadása kötelező!</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mb-2">
                <label for="password" class="form-label">Jelszó</label>
                <input type="password" class="form-control" id="password" formControlName="password">
                <small *ngIf="password?.dirty && password?.invalid || isSubmitted && password?.invalid" class="text-danger">Jelszó megadása kötelező!</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mb-2">
                <label class="form-label">Beosztás</label>
                <select class="form-select" formControlName="position" aria-label="Default select example">
                  <option value="Termelésirányító" selected>Termelésirányító</option>
                  <option value="Mérnök">Mérnök</option>
                  <option value="Technológus">Technológus</option>
                  <option value="Esztergályos">Esztergályos</option>
                  <option value="Marós">Marós</option>
                </select>
                <small *ngIf="isSubmitted && position?.invalid" class="text-danger">Beosztás megadása kötelező!</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="admin" formControlName="isAdmin">
                <label class="form-check-label" for="admin">
                  Admin
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-success me-1">Hozzáad</button>
              <button type="button" (click)="navigateToUsersList()" class="btn btn-secondary mx-1">Mégse</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
