<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Admin felület</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-3 list-group">
            <a href="#" class="list-group-item list-group-item-action bg-info" aria-current="true">
                  Ajánlatok hozzáadása
            </a>
            <a href="#" class="list-group-item list-group-item-action">Ajánlatok törlése</a>
            <a class="list-group-item list-group-item-action disabled">Ajánlatok szerkesztése</a>
        </div>
        <!-- Innen külön komponensbe! -->
        <div class="col-7">
            <div class="row d-flex justify-content-center mt-1">
                <div class="col-10">
                    <h4>Alapcsomag adatai</h4>
                    <hr>
                </div>
            </div>
           

            

            <div class="row d-flex justify-content-center mt-1">
                <div class="col-10">
                    <div class="row align-items-center">
                        <div class="col-3 text-md-end">
                            <label for="login-email">Csomag neve: </label>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" id="login-email">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row d-flex justify-content-center mt-3">
                <div class="col-10">
                    <div class="row align-items-center">
                        <div class="col-3 text-md-end">
                            <label for="login-email">Rövid leírás: </label>
                        </div>
                        <div class="col-9">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3">
                <div class="col-10">
                    <div class="row align-items-center">
                        <div class="col-3 text-md-end">
                            <label for="login-email">Szállás neve: </label>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" id="login-email">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3">
                <div class="col-10">
                    <div class="row align-items-center">
                        <div class="col-3 text-md-end">
                            <label for="login-email">Ellátás típusa: </label>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" id="login-email">
                        </div>
                    </div>
                </div>
            </div>
           
            
            <div class="row d-flex justify-content-center mt-3">
                <div class="col-10">
                    <div class="row align-items-center">
                        <div class="col-3 text-md-end">
                            <label for="login-email">Város: </label>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" id="login-email">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row d-flex justify-content-center mt-3">
                <div class="col-10">
                    <div class="row align-items-center">
                        <div class="col-3 text-md-end">
                            <label for="login-email"> Éjszakák száma:</label>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" id="login-email">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center my-3">
                <div class="col-10">
                    <div class="row align-items-center">
                        <div class="col-3 text-md-end">
                            <label for="login-email">Elérhető mennyiség:</label>
                        </div>
                        <div class="col-4 text-md-end">
                            <input type="text" class="form-control" id="login-email">
                        </div>
                        <div class="col-1 text-md-end">
                            <label for="login-email">Ár: </label>
                        </div>
                        <div class="col-4 text-md-end">
                            <input type="text" class="form-control" id="login-email">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row d-flex justify-content-center mt-5">
                <div class="col-10">
                    <h4>Extra programlehetőségek</h4>
                    <hr>
                </div>
            </div>
            
            <div class="row d-flex justify-content-center mt-3">
                <div class="col-10">
                    <div class="row align-items-center">
                        <div class="col-3 text-md-end">
                            <label for="login-email"> Program leírása:</label>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" id="login-email">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3">
                <div class="col-10">
                    <div class="row align-items-center">
                        <div class="col-3 text-md-end">
                            <label for="login-email"> Ár:</label>
                        </div>
                        <div class="col-9">
                            <input type="text" class="form-control" id="login-email">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3">
                <div class="col-10 text-md-end">
                    <a href="">Újabb programlehetőség hozzáadása</a>
                    <hr>
                </div>
            </div>

            <div class="row d-flex justify-content-center mt-3">
                <div class="col-10 text-md-end">
                    <a class="btn btn-primary text-right">Ajánlat hozzáadása</a>
                </div>
            </div>
            

        </div>
        <div class="col-2">
            <div class="row d-flex justify-content-center mt-1">
                <div class="col-10">
                    <p class="text-muted">Kérjük az alapcsomag adatai rész minden mezőjét töltse ki! <br>A programok hozzáadása opcionális.</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>





