<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Admin felület</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-3 list-group">
            <a [class]="addPackageClass" aria-current="true" (click)="showAddPackage()">
                  Ajánlatok hozzáadása
            </a>
            <a [class]="listClass" (click)="showListPackages()">Ajánlatok listázása</a>
            <a class="list-group-item list-group-item-action disabled">Ajánlatok szerkesztése</a>
        </div>
        <!-- Innen külön komponensbe! -->
        <div *ngIf="isAddPackage" class="col-7">
            <app-add-package></app-add-package>

        </div>
        <div *ngIf="isAddPackage" class="col-2">
            <div class="row d-flex justify-content-center mt-1">
                <div class="col-10">
                    <p class="text-muted">Kérjük az alapcsomag adatai rész minden mezőjét töltse ki! <br>A programok hozzáadása opcionális.</p>
                    
                </div>
            </div>
        </div>
        <div *ngIf="isList" class="col-9">
            <app-list-packages></app-list-packages>
    
        </div>
    </div>
</div>





