<div class="container-fluid">
    <div class="row">
        <div id="headline">
            <p id="headline-text" class="animate__animated animate__fadeInLeft">Magyarország a csodák soha ki nem merülő forrása. Fedezze fel velünk!</p>
        </div>
        
    </div>
</div>

<main class="container-fluid text-center">
    <div class="row col-md-7 m-auto mt-5">
        <div class="col">
            <h1>Kiemelt ajánlataink</h1>
        </div>
    </div>
    
    <div class="row col-md-7 m-auto mt-5">
        <div class="col">
            <h5>Szeretsz utazni, de szervezkedni már kevésbé? Nem is kell, mi már mindent megszerveztünk. Te csak foglalj, utazz, élvezd!</h5>
        </div>
    </div>
    

    <div class="container d-flex flex-wrap justify-content-around align-items-center mb-4" style="padding-top: 3em;">
        <div *ngFor="let package of offers; let i = index" class="card-border shadow card m-3 offercard"
            style="width: 18rem;" (click)="goToPackageDetails(package.name)">
            <h3 class="text-light text-center pt-2">{{package.city}}</h3>
            <div class="card-img-caption">
                <h4 class="card-text card-title card-img-top text-light shadow">{{package.name}}...</h4>
                <img src="/assets/{{package.city}}/01.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body text-center text-light rounded-pill">
                <h5>Ár: {{package.price.toLocaleString("hu")}} Ft</h5>
                <!-- <button class="btn btn-primary">Megnézem</button> -->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mb-5">
            <div class="col d-flex justify-content-center">
                <h3 class="my-3">
                    <button type="button" class="btn" routerLink="offers">További ajánlataink</button>
                </h3>
            </div>
        </div>
    </div>
</main>