#headline {
    background-image: url("../../../assets/borito/river-5978743_1920.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    height: 500px;
}
#headline-text {
    --animate-duration: 4s;
    --animation-delay: 1s;
    color: white;
    font-size: x-large;
    margin-top: 2%;
    text-align: center;
}

.offercard:hover {
    cursor: pointer;
    animation: pulse;
    animation-duration: 2s;
}

.btn {
    background-color: #fe7443;
}