<div class="container-fluid">
    <div class="row">
        <div id="headline">
            <p id="headline-text" class="animate__animated animate__fadeInLeft">Magyarország a csodák soha ki nem merülő forrása. Fedezze fel velünk!</p>
        </div>
        
    </div>
</div>

<main class="container-fluid text-center">
    <div class="row col-md-7 m-auto mt-5">
        <div class="col">
            <h1>Kiemelt ajánlataink</h1>
        </div>
    </div>

    <div class="container d-flex flex-wrap justify-content-between align-items-center" style="padding-top: 5em;">
        <div *ngFor="let package of travelPackages ; let i = index" class="card-border shadow card m-3 offercard"
            style="width: 18rem;" (click)="goToPackageDetails(package.name)">
            <h3 class="pt-3">{{package.city}}</h3>
            <img src="/assets/{{package.city}}/01.jpg" class="card-img-top p-3" alt="...">
            <div class="card-body text-center rounded-pill">
                <p class="card-title">{{package.description | slice:0:233}}</p>
                <h5>Ár: {{package.price}} Ft</h5>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mb-5">
            <div class="col d-flex justify-content-center">
                <h3 class="my-3">
                    <button type="button" class="btn" routerLink="offers">További ajánlataink</button>
                </h3>
            </div>
        </div>
    </div>
</main>