<div class="container">
    <div class="row  d-flex justify-content-center my-4">
        <div class="col-md-6">
            <h1>Bejelentkezés</h1>
        </div>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" novalidate>
        <div class="row  d-flex justify-content-center align-items-center" *ngIf="email">
            <div class="col-12 mt-3 col-md-2 text-right text-md-end">
                <label for="email">Email address</label>
            </div>
            <div class="col-12 mt-3 col-md-4">
                <input class="form-control" id="email" type="email" formControlName="email" placeholder="Enter your email...">
                <div *ngIf="email.invalid && email.touched" class="small text-danger">
                    <span *ngIf="email.errors?.['required']">An email is required.</span>
                    <span *ngIf="email.errors?.['email']">Email is not valid.</span>
                  </div>
            </div>
        </div>
        <div class="row  d-flex justify-content-center align-items-center" *ngIf="password">
            
                <div class="col-12 mt-3 col-md-2 text-right text-md-end">
                    <label for="password">Password</label>
                </div>
                <div class="col-12 mt-3 col-md-4">
                    <input class="form-control" type="password" id="password" formControlName="password" placeholder="Enter your password...">
                    <div *ngIf="password.invalid && password.touched" class="small text-danger">A password is required.</div>
                </div>
        </div>
        <div class="row  d-flex justify-content-center align-items-center">
            <div class="col-md-6 text-end">
                <button class="btn btn-primary mt-2" id="submitButton" type="submit" [disabled]="!loginForm.valid">Bejelentkezés</button>
            </div>
        </div>
    </form>
    <div class="row  d-flex justify-content-center">
        <div class="col-md-6 text-end">
            <!-- <p class="text-muted">vagy bejelentkezés Google fiókkal <button class="btn btn-danger mt-2" (click)="loginWithGoogle()" type="button">Google</button> </p> -->
        </div>
    </div>
    <div class="row  d-flex justify-content-center align-items-center">
        <div class="col-md-6 text-end">
            <hr>
            <p class="text-muted">Még nincs felhasználói fiókja? <a routerLink="../register" routerLinkActive="active">Készítsen egyet</a></p><p class=" text-align-center stext-muted">vagy jelentkezzen be Google fiókjával <button class="btn btn-danger mt-2" (click)="loginWithGoogle()" type="button">Google</button></p>
        </div>
    </div>
</div>



