<div class="card">
  <p-table [value]="historyItems" sortField="updatedAt" [sortOrder]="-1" dataKey="id" [rows]="12" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[12,25,50]" [loading]="loading" [paginator]="true"
    currentPageReportTemplate="{first}-{last}/{totalRecords}"
    [scrollable]="true"
    scrollHeight="calc(100vh - 135px)">
    <ng-template pTemplate="header">
      <tr>
        <th>Felhasználó</th>
        <th>Művelet</th>
        <th>Megnevezés</th>
        <th>Rajzszám</th>
        <th>Készletváltozás</th>
        <th pSortableColumn="updatedAt">Módosítás dátuma <p-sortIcon field="updatedAt"></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-historyItem>
      <tr>
        <td>
          {{ historyItem.username }}
        </td>
        <td>
          <span>{{ historyItem.action }}</span>
        </td>
        <td>
          <span>{{ historyItem.name }}</span>
        </td>
        <td>
          <span>{{ historyItem.drawingNumber }}</span>
        </td>
        <td>
          <span></span>
        </td>
        <td>
          <span>{{ historyItem.updatedAt | date:'yyyy.MM.dd HH.mm' }}</span>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
