<div class="container">
    <div class="row  d-flex justify-content-center my-4">
        <div class="col-md-6">
            <h1>Regisztráljon most és utazzon velünk!</h1>
            <p class="text-muted">Kérjük töltse ki az alábbi űrlapot</p>
        </div>

    </div>
    <div class="row  d-flex justify-content-center align-items-center">
        <div class="col-12 mt-3 col-md-2 text-right text-md-end">
            <label for="login-email">Keresztnév: </label>
        </div>
        <div class="col-12 mt-3 col-md-4">
            <input type="text" class="form-control" id="login-email">
        </div>
    </div>

    <div class="row  d-flex justify-content-center align-items-center">
        <div class="col-12 mt-3 col-md-2 text-right text-md-end">
            <label for="login-email">Vezetéknév: </label>
        </div>
        <div class="col-12 mt-3 col-md-4">
            <input type="text" class="form-control" id="login-email">
        </div>
    </div>

    <div class="row  d-flex justify-content-center align-items-center">
        <div class="col-12 mt-3 col-md-2 text-right text-md-end">
            <label for="login-email">Email cím: </label>
        </div>
        <div class="col-12 mt-3 col-md-4">
            <input type="text" class="form-control" id="login-email">
        </div>
    </div>

    <div class="row  d-flex justify-content-center align-items-center">
        <div class="col-12 mt-3 col-md-2 text-right text-md-end">
            <label for="login-email">Jelszó: </label>
        </div>
        <div class="col-12 mt-3 col-md-4">
            <input type="text" class="form-control" id="login-email">
        </div>
    </div>

    <div class="row  d-flex justify-content-center mt-3">
        <div class="col-md-6 text-end">
            <a class="btn btn-primary text-right">Regisztráció</a>
            <p class="text-muted mt-3" style="font-size: 0.75em">*A gomb megnyomásával elfogadom, hogy az utazási iroda hozzáférjen minden adatomhoz</p>
        </div>
    </div>
    <div class="row  d-flex justify-content-center">
        <div class="col-md-6 text-end">
            <hr>
            <p class="text-muted">Korábban már regisztrált? <a routerLink="../login" routerLinkActive="active">Jelentkezzen be!</a> </p>
        </div>
    </div>
</div>
