<div *ngIf="packageDetails" class="container-fluid">
    <main class="container col-lg-9">
        <header class="container">
            <div class="row text-center">
                <div class="col-xl-4 mt-4">
                    <h1 class="h-100 align-middle">{{ packageDetails?.name }}</h1>
                </div>
                <div class="col-xl-8 p-0">
                    <app-calendar-weather *ngIf="packageDetails" (clickEvent)="setDates($event)" [packageDetails]="packageDetails">
                    </app-calendar-weather>
                </div>
            </div>
        </header>
        <section class="container p-0">
            <div class="row mt-3">
                <div class="col m-auto">
                    <div class="card mb-3">
                        <div class="row g-0 h-100">
                            <div class="col-lg-7">
                                <ngb-carousel>
                                    <ng-template ngbSlide>
                                        <div>
                                            <img class="w-100 h-100"
                                                src="../../../assets/{{ packageDetails?.city }}/01.jpg"
                                                alt="Random first slide">
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <div>
                                            <img class="w-100"
                                                src="../../../assets/{{ packageDetails?.city }}/02.jpg"
                                                alt="Random second slide">
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <div>
                                            <img class="w-100"
                                                src="../../../assets/{{ packageDetails?.city }}/03.jpg"
                                                alt="Random third slide">
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <div>
                                            <img class="w-100"
                                                src="../../../assets/{{ packageDetails?.city }}/04.jpg"
                                                alt="Random fourth slide">
                                        </div>
                                    </ng-template>
                                    <ng-template ngbSlide>
                                        <div>
                                            <img class="w-100"
                                                src="../../../assets/{{ packageDetails?.city }}/hotel.jpg"
                                                alt="Random fifth slide">
                                        </div>
                                    </ng-template>
                                </ngb-carousel>
                            </div>
                            <div class="col">
                                <div *ngIf="packageDetails"
                                    class="card-body p-0 h-100 fw-bold ps-lg-3 details-text d-flex align-items-center"
                                    style="background-color: rgb(231, 236, 238);">
                                    <div class="w-100">
                                        <div class="pt-3">
                                            <div class="d-flex align-items-center">
                                                <fa-icon class="fa-2x text-orange p-2" [icon]="faPeopleArrows">fa
                                                </fa-icon>
                                                <button (click)="decreaseNumberOfPersons()"
                                                    style="width: 40px; height: 40px;" type="button"
                                                    class="btn btn-blue mx-2">-</button>
                                                <input style="width: 40px; height: 40px;" type="text"
                                                    value="{{ numberOfPersons }}"
                                                    class="form-control mx-2 p-1 text-center"
                                                    id="exampleInputPassword1">
                                                <button (click)="increaseNumberOfPersons()"
                                                    style="width: 40px; height: 40px;" type="button"
                                                    class="btn btn-blue mx-2">+</button>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <fa-icon class="fa-2x text-orange p-2" [icon]="faCalendarCheck">fa
                                                    </fa-icon>
                                                </div>
                                                <div>
                                                    {{ packageDetails.days }} nap/{{ packageDetails.days - 1 }} éj
                                                </div>
                                                <div *ngIf="arriveDate">
                                                    <small>&nbsp;({{ arriveDate | date:"MMM d" }} - {{ leaveDate | date:"MMM d" }})</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <fa-icon class="fa-2x text-orange p-2" [icon]="faMapMarker">fa
                                                    </fa-icon>
                                                </div>
                                                <div>
                                                    {{ packageDetails.city }}
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <fa-icon class="fa-2x text-orange p-2" [icon]="faHotel">fa
                                                    </fa-icon>
                                                </div>
                                                <div>
                                                    {{ packageDetails.hotelName }}
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <fa-icon class="fa-2x text-orange p-2" [icon]="faHamburger">fa
                                                    </fa-icon>
                                                </div>
                                                <div>
                                                    {{ packageDetails.meals }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="">
                                                <div class="d-flex">
                                                    <div class="my-2 me-2">
                                                       Csomagjaink:
                                                    </div>
                                                    <div class="form-check m-2">
                                                        <label class="form-check-label" for="flexRadioDefault1">
                                                            Aktív
                                                        </label>
                                                        <input (change)="isActivePackage();calculateFullPrice()" mdbScrollspyLink="example-1" class="form-check-input" type="radio" id="flexRadioDefault1" [checked]="activeChecked">
                                                    </div>
                                                    <div class="form-check m-2">
                                                        <label class="form-check-label" for="flexRadioDefault2">
                                                            Pihentető
                                                        </label>
                                                        <input (change)="isPassivePackage();calculateFullPrice()" mdbScrollspyLink="example-1" class="form-check-input" type="radio" id="flexRadioDefault2" [checked]="passiveChecked">
                                                    </div>
                                                    <!-- <button (click)="activePackage=true;calculateFullPrice()" mdbScrollspyLink="example-1"
                                                        type="button" class="btn btn-blue mx-2">Aktív</button>
                                                    <button (click)="activePackage=false;calculateFullPrice()" mdbScrollspyLink="example-1"
                                                        type="button" class="btn btn-orange mx-2">Pihentető</button> -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-end p-2 text-blue fs-3">
                                            {{ fullPrice.toLocaleString("hu") }} Ft
                                        </div>
                                        <div class="text-end text-danger p-2 fs-6">
                                            <!-- <div>
                                                <small *ngIf="!arriveDate">Nem adta meg az indulás
                                                    időpontját</small>
                                            </div> -->
                                            <button *ngIf="!arriveDate" ngbPopover="Kérlek válaszd ki, hogy mikor utaznál"
                                                triggers="mouseenter:mouseleave" class="btn btn-orange px-4" data-bs-target="#exampleModalCenter">
                                                Foglalás
                                            </button>
                                            <button *ngIf="arriveDate" class="btn btn-orange px-4"  data-bs-toggle="modal"
                                                data-bs-target="#exampleModalCenter">Foglalás
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container">
            <div class="row">
                <div class="col p-0">
                    <p class="py-3 fs-5">{{ packageDetails?.description }}</p>
                </div>
            </div>
        </section>
        <div mdbScrollspyElement="scrollspy" id="example-1"></div>
        <section class="container p-0">
            <div class="row m-auto my-4">
                <h5 class="d-block p-0">Programok</h5>
                <div class="col-lg-8 p-0 mt-3">
                    <div class="col border border-1 rounded-2 h-100 position-relative">
                        <div class="d-flex">
                            <div class="form-check m-2">
                                <input (change)="isActivePackage();calculateFullPrice()" class="form-check-input" type="radio" id="flexRadioDefault11" [checked]="activeChecked">
                                <label class="form-check-label" for="flexRadioDefault11">
                                    Aktív
                                </label>
                            </div>

                            <div class="form-check m-2">
                                <input (change)="isPassivePackage();calculateFullPrice()" class="form-check-input" type="radio" id="flexRadioDefault22" [checked]="passiveChecked">
                                <label class="form-check-label" for="flexRadioDefault22">
                                    Pihentető
                                </label>
                            </div>
                        </div>
                        <div class="d-flex mt-lg-5">
                            <div class="d-flex flex-wrap justify-content-center" *ngIf="activePackage">
                                <div *ngFor="let program of activeProgramsToShow" class="form-check form-switch my-1 my-lg-3 mx-2 d-flex align-items-center rounded-pill border-blue">
                                    <div class="ps-2">
                                        <input (change)="checkCheckbox($event, program)" class="form-check-input text-blue" type="checkbox"
                                            id="flexSwitchCheckChecked" checked>
                                        <label class="form-check-label" for="flexSwitchCheckChecked">{{ program.name }}</label>
                                    </div>
                                    <div *ngIf="activePackage" class="ps-2 ps-lg-5">
                                        {{ program.price.toLocaleString("hu") }}/fő
                                    </div>
                                    <div class="p-2">
                                        <fa-icon class="p-2 text-info" ngbPopover="{{ program.description }}"
                                            triggers="mouseenter:mouseleave"
                                            [icon]="faInfoCircle"></fa-icon>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-wrap justify-content-center" *ngIf="!activePackage">
                                <div *ngFor="let program of passiveProgramsToShow" class="form-check form-switch m-2 d-flex align-items-center rounded-pill border-blue">
                                    <div class="ps-2">
                                        <input (change)="checkCheckbox($event, program)" class="form-check-input" type="checkbox"
                                            id="flexSwitchCheckChecked" checked>
                                        <label class="form-check-label" for="flexSwitchCheckChecked">{{ program.name }}</label>
                                    </div>
                                    <div *ngIf="!activePackage" class="ps-2 ps-lg-5">
                                        {{ program.price.toLocaleString("hu") }}/fő
                                    </div>
                                    <div class="p-2">
                                        <fa-icon class="p-2 text-info" ngbPopover="{{ program.description }}"
                                            triggers="mouseenter:mouseleave"
                                            [icon]="faInfoCircle"></fa-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-end align-bottom p-2 text-blue fs-3 m-3">
                            {{ fullPrice.toLocaleString("hu") }} Ft
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 p-0 ps-lg-2 mt-3">
                    <div class="col border border-1 rounded-2 p-2 text-center">
                        <app-travel-planner [mapElement]="mapElement" [destination]="packageDetails?.city"></app-travel-planner>
                    </div>
                </div>
            </div>
        </section>
        <section class="container">
            <div class="row">
                <div class="col p-0">
                    <div #map class="rounded-end m-0" id="map"></div>
                </div>
            </div>
        </section>
    </main>
</div>

<div *ngIf="arriveDate" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-general">
            <div class="modal-header text-orange">
                <h5 class="modal-title" id="exampleModalLongTitle">Foglalás részletei</h5>
            </div>
            <div class="modal-body fs-5">
                <p>Foglalás {{ numberOfPersons }} fő részére</p>
                <p>{{ packageDetails?.city }}</p>
                <p>Választott időszak: {{ arriveDate | date:"MMM d" }} - {{ leaveDate | date:"MMM d" }}</p>
                <p>Választott programok: </p>
                <div class="d-flex flex-wrap justify-content-center" *ngIf="activePackage">
                    <div *ngFor="let program of activeProgramsToShow" class="m-2 d-flex align-items-center rounded-pill border-blue">
                        <div class="px-3 py-1 fs-6">
                            {{ program.name }}
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-wrap justify-content-center" *ngIf="!activePackage">
                    <div *ngFor="let program of passiveProgramsToShow" class="m-2 d-flex align-items-center rounded-pill border-blue">
                        <div class="px-3 py-1 fs-6">
                            {{ program.name }}
                        </div>
                    </div>
                </div>
                <p class="text-end h3 mb-0"><strong>{{ fullPrice.toLocaleString("hu") }} Ft</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-orange" data-bs-dismiss="modal">Vissza</button>
                <button type="button" class="btn btn-blue" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop">Megerősít</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-general">
            <div class="modal-body text-center">
                <p class="text-orange fs-3">
                    Köszönjük foglalását!
                </p>
                <p class="fs-5">
                    Várja szeretettel Önöket a felfedezésre váró {{ packageDetails?.city}}. Jó utat kívánunk! 
                </p>
            </div>
            <div class="modal-footer">
                <button (click)="navigateBackToHome()" type="button" class="btn btn-blue"
                    data-bs-toggle="modal">Vissza a főoldalra</button>
            </div>
        </div>
    </div>
</div>