#map {
  min-height: 400px;
  height: 100%;
}

.bg-general {
  background-color: #e7f3f5;
}

.btn-blue {
  background-color: rgba(72, 192, 215, 1);
}

.btn-orange {
  background-color: rgba(254, 116, 67, 1);
}

.text-orange {
  color: rgba(254, 116, 67, 1);
}

.text-blue {
  color: rgba(72, 192, 215, 1);
} 

.border-orange {
  border: 1px solid rgba(254, 116, 67, 1);
}

.border-blue {
  border: 1px solid rgba(72, 192, 215, 1);
}

.details-text {
  font-size: 1.1rem;
}

@media (min-width: 992px) {
  .details-text {
    font-size: 0.9rem;
  }
}

@media (min-width: 1200px) {
  .details-text {
    font-size: 1.1rem;
  }
}

@media (min-width: 1400px) {
  .details-text {
    font-size: 1.3rem;
  }
}