// .container-fluid {
//   background-image: url("https://images.unsplash.com/photo-1513002749550-c59d786b8e6c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80") !important;

//   /* Full height */
//   height: 100%;

//   /* Center and scale the image nicely */
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;}

// .main {
//   background-color: rgba(226, 165, 74, 0.5);
// }

.first-card {
  background: transparent;
  border: none;
}

.description {
  font-size: 18px;
}

