<div class="container">
    <div class="row d-flex justify-content-center mt-1">
        <div class="col-10">
            <h4>Alapcsomag adatai</h4>
            <hr>
        </div>
    </div>
   

    
<form (ngSubmit)="onSubmit()">
    <div class="row d-flex justify-content-center mt-1">
        <div class="col-10">
            <div class="row align-items-center">
                <div class="col-3 text-md-end">
                    <label for="package-name">Csomag neve: </label>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control" id="package-name" name="packageName" #packageName="ngModel" placeholder="" [(ngModel)]="travelPackage.name">
                </div>
            </div>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-10">
            <div class="row align-items-center">
                <div class="col-3 text-md-end">
                    <label for="package-description">Rövid leírás: </label>
                </div>
                <div class="col-9">
                    <textarea rows="3" type="text" class="form-control" id="package-description" name="packageDescription" #packageDescription="ngModel" placeholder="" [(ngModel)]="travelPackage.description"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center mt-3">
        <div class="col-10">
            <div class="row align-items-center">
                <div class="col-3 text-md-end">
                    <label for="hotel-name">Szállás neve: </label>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control" id="hotel-name" name="hotelName" #hotelName="ngModel" placeholder="" [(ngModel)]="travelPackage.hotelName">
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center mt-3">
        <div class="col-10">
            <div class="row align-items-center">
                <div class="col-3 text-md-end">
                    <label for="meals">Ellátás típusa: </label>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control" id="meals" name="meals" #meals="ngModel" placeholder="" [(ngModel)]="travelPackage.meals">
                </div>
            </div>
        </div>
    </div>
   
    
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-10">
            <div class="row align-items-center">
                <div class="col-3 text-md-end">
                    <label for="city">Város: </label>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control" id="city" name="city" #city="ngModel" placeholder="" [(ngModel)]="travelPackage.city">
                </div>
            </div>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-10">
            <div class="row align-items-center">
                <div class="col-3 text-md-end">
                    <label for="days"> Éjszakák száma:</label>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control" id="days" name="days" #days="ngModel" placeholder="" [(ngModel)]="travelPackage.days">
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center my-3">
        <div class="col-10">
            <div class="row align-items-center">
                <div class="col-3 text-md-end">
                    <label for="quantity">Elérhető mennyiség:</label>
                </div>
                <div class="col-4 text-md-end">
                    <input type="text" class="form-control" id="quantity" name="quantity" #quantity="ngModel" placeholder="" [(ngModel)]="travelPackage.quantity">
                </div>
                <div class="col-1 text-md-end">
                    <label for="price">Ár: </label>
                </div>
                <div class="col-4 text-md-end">
                    <input type="text" class="form-control" id="price" name="price" #price="ngModel" placeholder="" [(ngModel)]="travelPackage.price">
                </div>
            </div>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-10">
            <h4>Extra programlehetőségek</h4>
            <hr>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-10">
            <div class="row align-items-center">
                <div class="col-3 text-md-end">
                    <label for="options-name"> Program neve:</label>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control" id="options-name" name="optionsName" #optionsName="ngModel" placeholder="" [(ngModel)]="travelPackage.options[0].name">
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center mt-3">
        <div class="col-10">
            <div class="row align-items-center">
                <div class="col-3 text-md-end">
                    <label for="options-description"> Program leírása:</label>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control" id="options-description" name="optionsDescription" #optionsDescription="ngModel" placeholder="" [(ngModel)]="travelPackage.options[0].description">
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center mt-3">
        <div class="col-10">
            <div class="row align-items-center">
                <div class="col-3 text-md-end">
                    <label for="options-price"> Program ára:</label>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control" id="options-price" name="optionsPrice" #optionsPrice="ngModel" placeholder="" [(ngModel)]="travelPackage.options[0].price">
                </div>
            </div>
        </div>
    </div>

  

    <div class="row d-flex justify-content-center mt-3">
        <div class="col-10 text-md-end">
            <a href="">Újabb programlehetőség hozzáadása</a>
            <hr>
        </div>
    </div>

    <div class="row d-flex justify-content-center mt-3">
        <div class="col-10 text-md-end">
            <button class="btn btn-primary text-right" id="submitButton" type="submit">Ajánlat hozzáadása</button>
        </div>
    </div>
</form>
</div>
