<div class="container">
    <div class="row d-flex justify-content-center mt-1">
        <div class="col-10">
            <h4>Alapcsomag adatai</h4>
            <hr>
        </div>
    </div>
   

    
<form #signupForm="ngForm" (ngSubmit)="onSubmit()" [ngClass]="{'was-validated': signupForm.submitted}">
    <div class="row d-flex justify-content-center mt-1">
        <div class="col-10">
            <div class="row align-items-center">
                <div class="col-3 text-md-end">
                    <label for="package-name">Csomag neve: </label>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control" id="package-name" name="packageName" #packageName="ngModel" placeholder="" [(ngModel)]="travelPackage.name" required>
                </div>
                <small class="col-9 offset-3 text-danger" *ngIf="!packageName.valid && packageName.touched">
                    Meg kell adnod a csomag nevét!
                </small>
            </div>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-10">
            <div class="row align-items-center">
                <div class="col-3 text-md-end">
                    <label for="package-description">Rövid leírás: </label>
                </div>
                <div class="col-9">
                    <textarea rows="3" type="text" class="form-control" id="package-description" name="packageDescription" #packageDescription="ngModel" placeholder="" [(ngModel)]="travelPackage.description" required></textarea>
                </div>
                <small class="col-9 offset-3 text-danger" *ngIf="!packageDescription.valid && packageDescription.touched">
                    Adj meg egy rövid leírást a csomagról!
                </small>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center mt-3">
        <div class="col-10">
            <div class="row align-items-center">
                <div class="col-3 text-md-end">
                    <label for="hotel-name">Szállás neve: </label>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control" id="hotel-name" name="hotelName" #hotelName="ngModel" placeholder="" [(ngModel)]="travelPackage.hotelName" required>
                </div>
                <small class="col-9 offset-3 text-danger" *ngIf="!hotelName.valid && hotelName.touched">
                    Meg kell adnod a szállás nevét!
                </small>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center mt-3">
        <div class="col-10">
            <div class="row align-items-center">
                <div class="col-3 text-md-end">
                    <label for="meals">Ellátás típusa: </label>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control" id="meals" name="meals" #meals="ngModel" placeholder="" [(ngModel)]="travelPackage.meals" required>
                </div>
                <small class="col-9 offset-3 text-danger" *ngIf="!meals.valid && meals.touched">
                    Meg kell adnod az ellátás típusát!
                </small>
            </div>
        </div>
    </div>
   
    
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-10">
            <div class="row align-items-center">
                <div class="col-3 text-md-end">
                    <label for="city">Város: </label>
                </div>
                <div class="col-9">
                    <input type="text" class="form-control" id="city" name="city" #city="ngModel" placeholder="" [(ngModel)]="travelPackage.city" required>
                </div>
                <small class="col-9 offset-3 text-danger" *ngIf="!city.valid && city.touched">
                    Meg kell adnod egy várost!
                </small>
            </div>
        </div>
    </div>
    
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-10">
            <div class="row align-items-center">
                <div class="col-3 text-md-end">
                    <label for="days"> Éjszakák száma:</label>
                </div>
                <div class="col-9">
                    <input type="number" class="form-control" id="days" name="days" #days="ngModel" placeholder="" [(ngModel)]="travelPackage.days" min="1" max="4" required>
                </div>
                <small class="col-9 offset-3 text-danger" *ngIf="!days.valid && days.touched && days.errors?.['required']">
                  Meg kell adnod az éjszakák számát!
                </small>
                <small class="col-9 offset-3 text-danger" *ngIf="!days.valid && days.touched && days.errors?.['max']">
                  A maximum tartózkodási idő 4 nap
                </small>
                <small class="col-9 offset-3 text-danger" *ngIf="!days.valid && days.touched && days.errors?.['min']">
                  A minimum tartózkodási idő 1 nap
                </small>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center my-3">
        <div class="col-10">
            <div class="row align-items-center">
                <div class="col-md-3 text-md-end">
                    <label for="quantity">Elérhető mennyiség:</label>
                </div>
                <div class="col-md-4 text-md-end">
                    <input type="number" class="form-control" id="quantity" name="quantity" #quantity="ngModel" placeholder="" [(ngModel)]="travelPackage.quantity" required min="1">
                </div>
                <div class="col-md-1 text-md-end">
                    <label for="price">Ár: </label>
                </div>
                <div class="col-md-4 text-md-end">
                    <input type="number" class="form-control" id="price" name="price" #price="ngModel" placeholder="" [(ngModel)]="travelPackage.price" required min="10000">
                </div>
                <small class="col-9 offset-3 text-danger" *ngIf="!quantity.valid && quantity.touched && quantity.errors?.['required']">
                    Meg kell a csomagok számát!
                  </small>
                  <small class="col-9 offset-3 text-danger" *ngIf="!quantity.valid && quantity.touched && quantity.errors?.['min']">
                    A minimum csomagszám: 1!
                  </small>
                <small class="col-9 offset-3 text-danger" *ngIf="!price.valid && price.touched && price.errors?.['required']">
                    Meg kell adnod az árat!
                  </small>
                  <small class="col-9 offset-3 text-danger" *ngIf="!price.valid && price.touched && price.errors?.['min']">
                    A minimum ár: 10 000 Ft!
                  </small>
            </div>
        </div>
    </div>

    
    
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-10">
            <h4>Extra programlehetőségek</h4>
            <hr>
        </div>
    </div>
   
    <form #programCreator = "ngForm" (ngSubmit) = "onClickSubmit(programCreator.value)" >
    <div class="row d-flex justify-content-center my-1">
        <div class="col-10">
            <div class="row align-items-center">
                <div class="col-md-5 text-md-end">
                    <label for="program-quantity">Programok száma:</label>
                </div>
                <div class="col-md-3">
                    <input type="number" 
                    class="form-control" 
                    id="program-quantity" 
                    name="programQuantity" 
                    #programQuantity="ngModel" 
                    placeholder="" 
                    [(ngModel)]="pQuantity" 
                    required>
                </div>
                <div class="col-md-4 text-md-end">
                    <button class="btn btn-primary text-right" id="programQuantitySubmit" type="submit" [disabled]="pQuantity ===0">Hozzáadás</button>
                </div>
             
            </div>
            <hr>
        </div>
    </div>
    </form>

    <div *ngFor="let item of items; let i = index">
        <div class="row d-flex justify-content-center" *ngIf="isShown">
            <div class="col-10">
                <h5>{{i+1}}. programlehetőség</h5>
            </div>
        </div>

        <div class="row d-flex justify-content-center mt-3" *ngIf="isShown">
            <div class="col-10">
                <div class="row align-items-center">
                    <div class="col-3 text-md-end">
                        <label [for]="'options-name'+i"> Program neve:</label>
                    </div>
                    <div class="col-9">
                        <input 
                            type="text" 
                            class="form-control" 
                            [id]="'options-name'+i" 
                            [name]="'optionsName'+i" 
                            #optionsName="ngModel" 
                            placeholder="" 
                            [(ngModel)]="travelPackage.options[i].name">
                    </div>
                    <small class="col-9 offset-3 text-danger" *ngIf="!optionsName.valid && optionsName.touched">
                        Meg kell adnod egy várost!
                    </small>
                </div>
            </div>
        </div>

        <div class="row d-flex justify-content-center mt-3" *ngIf="isShown">
            <div class="col-10">
                <div class="row align-items-center">
                    <div class="col-3 text-md-end">
                        <label [for]="'options-description'+i"> Program leírása:</label>
                    </div>
                    <div class="col-9">
                        <input 
                        type="text" 
                        class="form-control" 
                        [id]="'options-description'+i" 
                        [name]="'optionsDescription'+i" 
                        #optionsDescription="ngModel" 
                        placeholder="" 
                        [(ngModel)]="travelPackage.options[i].description">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row d-flex justify-content-center mt-3" *ngIf="isShown">
            <div class="col-10">
                <div class="row align-items-center">
                    <div class="col-3 text-md-end">
                        <label [for]="'active-activity'+i"> Aktív kikapcsolódás?</label>
                    </div>
                    <div class="col-9">
                        <input 
                        type="checkbox" 
                        class="form-check-input" 
                        [id]="'active-activity'+i" 
                        [name]="'activeActivity'+i" 
                        #activeActivity="ngModel"
                        checked 
                        placeholder="" 
                        [(ngModel)]="travelPackage.options[i].activeActivity">
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row d-flex justify-content-center mt-3" *ngIf="isShown">
            <div class="col-10">
                <div class="row align-items-center">
                    <div class="col-3 text-md-end">
                        <label [for]="'options-price'+i"> Program ára:</label>
                    </div>
                    <div class="col-9">
                        <input type="number" 
                        class="form-control" 
                        [id]="'options-price'+i" 
                        [name]="'optionsPrice'+i" 
                        #optionsPrice="ngModel" 
                        placeholder="" [(ngModel)]="travelPackage.options[i].price">
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>

    <!-- <div class="row d-flex justify-content-center mt-3">
        <div class="col-10 text-md-end">
            <button class="btn btn-primary text-right" (click)="addProgramPackage()">Újabb programlehetőség hozzáadása</button>
            <hr>
        </div>
    </div> -->

    <div class="row d-flex justify-content-center mt-3">
        <div class="col-10 text-md-end">
            <button class="btn btn-primary text-right" id="submitButton" type="submit" [disabled]="!signupForm.valid">Ajánlat hozzáadása</button>
        </div>
    </div>
</form>
</div>