<!-- Navbar/Menü komponens -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container col-md-8">
        <a class="navbar-brand" routerLink="">LastMinute</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Főoldal</a>
                  </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="offers" routerLinkActive="active">Ajánlataink</a>
                </li>
                <li class="nav-item">
                    <a *ngIf="true" class="nav-link" routerLink="login" routerLinkActive="active">Bejelentkezés</a>
                    <a *ngIf="false" class="nav-link" routerLink="logout" routerLinkActive="active">Kijelentkezés</a>
                </li>
                <li class="nav-item">
                    <a [ngClass]="{'disabled': true}" class="nav-link disabled" routerLink="admin" routerLinkActive="active">Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
