.imgBox { /* now a container for the image */
    display: inline-block; /* shrink wrap to image */
    overflow: hidden; /* hide the excess */
  }
  .imgBox img {
    display: block; /* no whitespace */
    transition: .5s ease-in-out;
  }
  .imgBox:hover img {
    transform: scale(1.1);
  }

  .slider.slider-horizontal{
    width:400px; /* sample value - set it as you like*/
  }