<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3 m-3">
            <label for="maxPricePackage" class="form-label">Maximum ár: {{price | currency:'Ft':'symbol':'0.0-0':'hu'}}</label>
            <input (input)="onChangePriceInput($event)" type="range" class="form-range" min="10000" [max]="maxPrice"
                step="10000" [value]="price" id="maxPricePackage">

            <label for="smart" class="form-label">Keresés város alapján:</label>

            <select (change)="onChangeCityInput($event)" class="form-select">
                <option disabled hidden selected>Válasszon várost:</option>
                <option value="">mindegyik</option>
                <option class="" *ngFor="let city of cities" [value]="city">{{city}}</option>
            </select>
        </div>
    </div>
</div>

<div class="container d-flex flex-wrap justify-content-around align-items-center mb-5" style="padding-top: 5em;">
    <div *ngFor="let package of selectedPackages ; let i = index" class="card-border shadow card m-3 offercard"
        style="width: 18rem;" (click)="goToPackageDetails(package.name)">
        <h3 class="text-light text-center pt-2">{{package.city}}</h3>
        <div class="card-img-caption">
            <h4 class="card-text card-title card-img-top text-light shadow">{{package.name}}...</h4>
            <img src="/assets/{{package.city}}/01.jpg" class="card-img-top" alt="...">
        </div>
        <div class="card-body text-center text-light rounded-pill">
            <h5>Ár: {{package.price.toLocaleString("hu")}} Ft</h5>
            <!-- <button class="btn btn-primary">Megnézem</button> -->
        </div>
    </div>
</div>