.offercard {
    background-color: #48c0d7;
    
    &:hover {
        cursor: pointer;
        animation: pulse;
        animation-duration: 2s;
        background-color: #fe7443;
        
        .card-img-caption .card-text {
            color: #fe7443 !important;
        }
    }
}

.card-img-caption {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    .card-img-top {
        z-index: 0;
        position: relative;
    }
      
    .card-text {
        position: absolute;
        bottom: 18%;
        text-align: center;
        text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
        width: 100%;
        z-index: 1;
    }
}

.btn {
    background-color: #fe7443;
}

input[type="range" i] {
    &::-webkit-slider-thumb {
    background: #FE7443 !important;
    }
    &::-moz-range-thumb {
    background: #FE7443 !important;
    }
    &::-ms-thumb {
    background: #FE7443 !important;
    }
}

.form-select:focus {
    /* border-color: #86b7fe; */
    outline: 0;
    // box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    box-shadow: 0 0 0 0.25rem rgb(210 100 39 / 25%);
}

.aaa:focus {
    background-color: red !important;
}

.btn-primary:hover {
    color: #212529;
    background-color: #52bebe;
    border-color: #8ad3d3
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 .2rem rgba(91, 194, 194, 0.5)
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #212529;
    background-color: #7cc;
    border-color: #5bc2c2
}
.btn-outline-primary:hover {
    color: #222;
    background-color: #8ad3d3;
    border-color: #7cc !important;
}
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #212529;
    background-color: #8ad3d3 !important;
    border-color: #7cc
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(119, 204, 204, 0.5)
}